.texte {  font-size: 10px; line-height: 155%; color: #FFFFFF; font-family: Arial; font-weight: normal}
.texteArticle {  font-family: Verdana; font-size: 10px; line-height: 135%; color: #000000}
.textePress {  font-family: Arial; font-size: 10px; line-height: 115%; color: #FFFFFF}
