
<!--
.text-titre {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #AD3BAB}
.titre {  font-family: Arial; font-size: 10pt; font-weight: bold; color: #FFFFFF}
.titre2 {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #AD3BAB; vertical-align: middle}
.texte {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.neutre {  font-family: Arial, Helvetica, sans-serif; font-size: 1px; line-height: 8px}
.textTAB { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #6E246E; clip: rect( ) }
.titreTAB { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; clip:  rect(   )}
.titreArticle { font-family: Arial; font-size: 12pt; font-weight: bold; color: #993399 }
-->


