body {
	background-color: #FAAA0F;
	font: 70% 'Lucida Grande', Verdana, Arial, Sans-Serif; /*Resets 1em to 10px */
	color: #000000;
	text-align: center;
}


a:link,
a:visited {
	color:#333333;
	text-decoration: none;
}

a:hover {
	color:#000000;
	text-decoration: underline;
}
